<%= render "shared/notice" %>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-4">
				<%= gravatar_for @user %>
				<b><span><%= @user.name %></span>
				<div class="row">					
					<br><div class="col-sm-6">
						<p>Following 50</p>
					</div>
					<div class="col-sm-6">
						<p>Followers 70</b></p>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<h1>Microposts (<%= @user.microposts.count %>)</h1>
				<hr>
				<ul class="microposts">
					<% @user.microposts.each do |micropost| %>
						<li>
							<h4><%= micropost.content %></h4>
							<i><%= time_ago_in_words(micropost.created_at) %></i>
							<hr>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>




