<%= render "shared/notice" %>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-4">
				<%= gravatar_for @user %>
				<span><%= @user.name %>
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<h1>Microposts</h1>
				<ul>
					<% @user.microposts.each do |micropost| %>
						<li>
							<p><%= micropost.content %></p>
							<p><%= micropost.created_at %></p>

						</li>

					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>




